<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UNICORE-Persistence-unittests">
  <test verbose="2" name="Tests" annotations="JDK">
    <classes>
      <class name="de.fzj.unicore.persist.TestPersistenceFactory"/>
      <class name="de.fzj.unicore.persist.impl.TestClassScanner"/>
      <class name="de.fzj.unicore.persist.impl.TestPersistImplementations"/>
      <class name="de.fzj.unicore.persist.impl.TestDataIntegrity"/>
      <class name="de.fzj.unicore.persist.impl.TestH2PersistServerMode"/>
      <class name="de.fzj.unicore.persist.impl.TestH2PersistUpdateMany"/>
      <class name="de.fzj.unicore.persist.cluster.TestCluster"/>
      <class name="de.fzj.unicore.persist.cluster.TestLockSupport"/>
      <class name="de.fzj.unicore.persist.util.TestPool"/>	    
    </classes>
  </test>
</suite>
